# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# macOS folder attributes
Icon?
._*
.Spotlight-V100
.Trashes
*.swp

# Julia compiled files and project-specific files
.julia/
*.jl.cov
*.jl.*.cov
*.ji
*.dSYM/
*.DS_Store
*.csv

# VS Code (common for Julia users)
Archive/
Plots/
.vscode/
*.code-workspace

# Misc
*.log